<p-card class="client-card">
    <ng-template pTemplate="header">
        <div class="card-header">
            <h3>Mes commandes</h3>
            <button pButton label="Déconnexion" icon="pi pi-sign-out" class="p-button-danger"
                    (click)="logout()"></button>
        </div>
    </ng-template>

    <div class="p-mb-3">
        <button pButton label="Nouvelle commande" icon="pi pi-plus" class="p-button-success"
                (click)="openForm()"></button>
    </div>
    <br>

    <!-- Tableau des commandes -->
    <p-table [value]="orders" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Articles</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{ order.date | date:'shortDate' }}</td>
                <td>{{ order.items }}</td>
                <td>
                <span [ngClass]="getStatusClass(order.status)">
                  {{ order.status | orderStatus }}
                </span>
                </td>
                <td>
                    <button pButton icon="pi pi-eye" class="p-button-text" (click)="openDetails(order)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>


<!-- Modal formulaire -->
<p-dialog header="Nouvelle commande" [(visible)]="displayForm" [modal]="true" [style]="{width: '700px'}">
    <app-command-form (orderSubmit)="saveOrder($event)"></app-command-form>
</p-dialog>

<!-- Modal détails -->
<p-dialog header="Détails de la commande" [(visible)]="displayDetails" [modal]="true" [style]="{width: '400px'}">
    <ng-container *ngIf="selectedOrder">
        <p><b>Date :</b> {{ selectedOrder.date | date:'fullDate' }}</p>
        <p><b>Articles :</b> {{ selectedOrder.items }}</p>
        <p><b>Motif :</b> {{ selectedOrder.reason || '-' }}</p>
        <p><b>Commentaire :</b> {{ selectedOrder.comment || '-' }}</p>
        <p><b>Statut :</b> {{ selectedOrder.status | orderStatus }}</p>
    </ng-container>
</p-dialog>
