.card-form {
  //width: 100%;
  //max-width: 700px;
  //margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: #fff;
  display: block;
}

.p-field {
  margin-bottom: 1.2rem;
}

button.p-button-success {
  width: 100%;
}
